<!DOCTYPE html>
<html>
  <head>
    <title>Help | Twitter on Rails</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>If you flap your wings hard enough, something will happen!</p>
  </body>
</html>
